/**
 * column
 */
.campaign_archive{
    overflow: hidden;
    margin: 0;
}
.campaign_archive .campaign_entry{
    float: left;
    list-style: none;
    padding: 10px;
}
.campaign_column_4 .campaign_entry{
    width: 25%;
}
.campaign_column_3 .campaign_entry{
    width: 33%;
}
.campaign_column_2 .campaign_entry{
    width: 50%;
}
.campaign_column_1 .campaign_entry{
    width: 100%;
}
.campaign_thumbnail_figure{
    position: relative;
}
.campaign_thumbnail_overlay{
    position: absolute;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
}
.campaign_thumbnail_overlay{
    opacity: 0;
    background-color: #ae8ce4;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}
.campaign_thumbnail_figure:hover > .campaign_thumbnail_overlay{
    opacity: 0.8;
}
.campaign_thumbnail_overlay .donate_load_form{
    line-height: 10;
    padding: 10px;
    border-radius: 4px;
    background-color: #fdfffd;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}
.campaign_thumbnail_overlay .donate_load_form:hover{
    background-color: #020202;
    color: #fdfffd;
}

/**
 * lightbox
 */
#donate_hidden{
    position: relative;
    background: #FFF;
    padding: 20px;
    width: auto;
    min-width: 500px;
    max-width: 800px;
    margin: 20px auto;
}
.donate_form h2{
    color: #2e3544;
    font-size: 24px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}
#donate_hidden .donate_form{
    padding: 0 10px;
    overflow: hidden;
}
#donate_hidden .donate_compensates,
#donate_hidden .donate_dornor_info,
#donate_hidden .donate_payment_method,
#donate_hidden .donate_form_footer{
    width: 100%;
    float: left;
    padding: 10px 0;
}
.donate_compensates ul{
    margin: 0;
}
.donate_compensates li{
    list-style: none;
}
.donate_compensates .donate_amount_group,
.donate_dornor_info .donate_field label{
    font-weight: 500;
    font-size: 18px;
}
#donate_hidden .donate_amount_group:hover,
#donate_hidden .donate_payment_method label:hover{
    cursor: pointer;
}
.donate_compensates li p{
    font-size: 13px;
    padding-left: 25px;
}
.donate_amount{
    color: #ecb338;
    font-style: italic;
}
.donate_form .donate_form_input.payment{
    width: 94%;
    max-width: 100%;
    text-align: center;
}
.donate_form .donate_form_input{
    width: 80%;
    max-width: 610px;
}
.donate_form .currency{
    line-height: 42px;
    height: 42px;
    display: block;
    float: left;
    padding: 0px 15px;
    background-color: #ccc;
    font-weight: 600;
}
#donate_hidden .mfp-close{
    width: 40px;
    height: 40px;
}
#donate_hidden .donate_form_footer.center{
    text-align: center;
}
#donate_hidden .donate_submit{
    background-color: #020202;
    color: #fdfffd;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}
#donate_hidden .donate_submit:hover{
    color: #ecb338;
    background-color: #9C8686;
}
#donate_hidden .mfp-close:hover{
    background: none;
    color: #ecb338;
}
#donate_hidden .donate_dornor_info{
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
}
#donate_hidden .donate_dornor_info h3{
    text-align: center;
}
#donate_hidden .donate_dornor_info .donate_field{
    width: 50%;
    float: left;
    padding: 10px;
}
#donate_hidden .donate_dornor_info .donate_field label{
    font-size: 15px;
}
#donate_hidden .donate_dornor_info .donate_field > input,
#donate_hidden .donate_dornor_info .donate_field > textarea{
    width: 100%;
    font-size: 12px;
    padding: 8px;
    border: 1px solid #dedede;
}
/**
 * message error form
 */
.donate_message_error{
    text-align: left;
    font-size: 13px;
    color: #F90404;
    margin-bottom: 3px;
    padding: 5px 10px;
    background-color: #dedede;
}