.tp_donate_setting_wrapper a.nav-tab:focus{
	box-shadow: none;
}
.tp_donate_wrapper_content table th{
	text-align: left;
	min-width: 300px;
}
.tp_donate_wrapper_content table p{
	margin: 2px;
	font-weight: normal;
}
.tp_donate_wrapper_content table select,
.tp_donate_wrapper_content table input[ type="text" ]{
	width: auto;
	min-width: 250px;
}

/**
 * metabox
 */
.donate_metabox_setting{
    width: auto;
    float: left;
    min-width: 200px;
    margin: 0;
    background-color: #fdfdfd;
    border: 1px solid #dfdfdf;
}
.donate_metabox_setting li{
	margin: 0;
}
.donate_metabox_setting li a{
	text-decoration: none;
	padding: 8px;
	display: block;
}
.donate_metabox_setting li a:focus{
	box-shadow: none;
}
.donate_metabox_setting_container{
	padding-left: 220px;
}
#donate_setting_section .inside{
	overflow: hidden;
}
.donate_metabox_setting_section .donate_metabox{
	border-bottom: 1px solid #dedede;
}
.donate_metabox_setting_section label{
	font-weight: bold;
	float: left;
	width: 100%;
}
.donate_metabox_setting_section th{
	text-align: left;
	width: 30%;
}
.donate_metabox_setting_container .tool_box{
	overflow: hidden;
}
.donate_metabox_setting_container .tool_box .button{
	float: right;
}
.donate_metabox_setting_section textarea{
	width: 100%;
}