.tp_donate_setting_wrapper a.nav-tab:focus{
	box-shadow: none;
}
.tp_donate_wrapper_content table th{
	text-align: left;
	min-width: 300px;
}
.tp_donate_wrapper_content table p{
	margin: 2px;
	font-weight: normal;
}
.tp_donate_wrapper_content table select,
.tp_donate_wrapper_content table input[ type="text" ]{
	width: auto;
	min-width: 250px;
}

/**
 * metabox
 */
.donate_metabox_setting{
    width: auto;
    float: left;
    min-width: 200px;
}
.donate_metabox_setting li a{
	text-decoration: none;
	padding: 8px;
	display: inline-block;
}
.donate_metabox_setting_container{
	float: left;
}
#donate_setting_section .inside{
	overflow: hidden;
}