.tp_donate_setting_wrapper a.nav-tab:focus{
	box-shadow: none;
}
.tp_donate_wrapper_content table th{
	text-align: left;
	min-width: 300px;
}
.tp_donate_wrapper_content table p{
	margin: 2px;
	font-weight: normal;
}
.tp_donate_wrapper_content table select,
.tp_donate_wrapper_content table input[ type="text" ]{
	width: auto;
	min-width: 250px;
}